.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    width: 100%;

    .Container {
        margin-top: 5rem;
        width: 95%;
    }
}