.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: grey;
    padding: .5rem 1rem;

    .Header-ImgDiv {
        img {
            width: 298.5px;
        }
    }
    .Header-ProfileIcon {
        width: 25px;
        height: 25px;
    }
}