.Footer {
    width: 100%;
    height: 200px;
    background-color: grey;

    .FooterContainer {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .FooterContainerAbout > h3 {
            font-size: 2rem;
            cursor: pointer;
            
        }
    }
}